<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>TalDo</title>
</head>
<body>
    <!-- Greeting section -->
    <div class="greeting">
        <h1>Welcome to TalDo</h1>
        <p>Control your digital world - focus on focus.</p>
    </div>
    
    <!-- Add task utility -->
    <div class="section-wrapper">
        <form name="add-task" action="/add-task" method="POST" class="add-task">
            <!-- Add task text + button -->
            <div class="input-task">
                <input type="text" id="task" name="task" placeholder="Add a new task...">
                <input type="submit" id="submit" value="Add task">
            </div>

            <!-- Category, priority for tasks -->
            <div class="task-modifiers">
                <label for="category">Category</label>
                <select name="category" id="category">
                    <option>Personal</option>
                    <option>Work</option>
                    <option>School</option>
                    <option>Health</option>
                </select>

                <label for="priority">Priority</label>
                <select name="priority" id="priority">
                    <option>Low</option>
                    <option>Medium</option>
                    <option>High</option>
                </select>
            </div>
        </form>
    </div>

    <!-- Render each task -->
    <div class="task-list">
        <% if (tasks.length === 0) { %>
            <div class="section-wrapper section-wrapper--task">
                <h2>All done for now!</h2>
                <p>Add some tasks to continue being productive.</p>
            </div>
        <% } else { %>
         <% tasks.forEach(item => { %>
            <div class="task-item">
                <button class="finish-task">Complete</button>
                <p><%= item.task %></p>
                
                <div class="task-tags">
                    <!-- TODO: Make these filter the current task layout -->
                    <a><%= item.category %></a>
                    <a><%= item.priority %></a>
                </div>
                
                <div class="utility-buttons">
                    <button>Edit Task</button>
                    <button>Delete Task</button>
                </div>
            </div>
         <% }); %>
        <% } %>
    </div>
</body>
</html>