<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>TalDo</title>
</head>
<body>
    <div class="greeting">
        <h1>Welcome to TalDo</h1>
        <p>Control your digital world - focus on focus.</p>
    </div>
    <div class="add-task">
        
    </div>
</body>
</html>