:root {
    --primary-color: #C14953;
    --secondary-color: #424B54;
    --tertiary-color: #83878a;
    --bg-color: #FFFFFF;
}

.greeting > * {
    text-align: center;
}

h1 {
    color: var(--primary-color);
    margin-bottom: 1rem;
}

p {
    color: var(--secondary-color);
}

.add-task-wrapper {
    display: flex;
    align-content: center;
    margin: 2rem 30rem;
    border: var(--secondary-color) solid 1px;
    border-radius: 1rem;
}

.add-task {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 12px;
    width: 80%;
    padding: 2rem;
}

.input-task{
    display: flex;
    gap: 6px;
    flex-basis: 100%;
}

input[type="text"] {
    background-color: var(--tertiary-color);
    color: var(--bg-color);
    flex: 1;
    height: fit-content;
}

input[type="text"]::placeholder {
    color: var(--bg-color);
}

input[type="submit"] {
    display: inline-block;
    width: max-content;
}

.task-modifiers {
    display: flex;
    flex: 1 0 50%;
    gap: 6px;
}