:root {
    --primary-color: #C14953;
    --secondary-color: #424B54;
    --tertiary-color: #83878a;
    --bg-color: #FFFFFF;
}

.greeting > * {
    text-align: center;
}

h1 {
    color: var(--primary-color);
    margin-bottom: 1rem;
}

p {
    color: var(--secondary-color);
}

.section-wrapper {
    display: flex;
    align-content: center;
    margin: 2rem 30rem;
    border: var(--secondary-color) solid 1px;
    border-radius: 1rem;
}

.add-task {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 12px;
    width: 80%;
    padding: 2rem;
}

.input-task{
    display: flex;
    gap: 6px;
    flex-basis: 100%;
}

input[type="text"] {
    background-color: var(--tertiary-color);
    color: var(--bg-color);
    flex: 1;
    height: fit-content;
}

input[type="text"]::placeholder {
    color: var(--bg-color);
}

input[type="submit"] {
    display: inline-block;
    width: max-content;
}

.task-modifiers {
    display: flex;
    flex: 1 0 50%;
    gap: 6px;
}

.section-wrapper--task {
    text-align: center;
    flex-flow: column;
    flex-wrap: wrap;
}

.section-wrapper--task > h2 {
    margin-bottom: 1rem;
}

.section-wrapper--task > p {
    margin-top: 0px;
}

/* TODO: Create a new class using grid to achieve a more complex layout */
.task-item {
    margin: 2rem 30rem;
    border: var(--secondary-color) solid 1px;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 150px 3fr 1fr;
    grid-template-rows: 60% 40%;
}

.finish-task {
    grid-row: span 2;
    align-self: center;
    justify-self: center;
    height: 30px;
    width: fit-content;
}

.task-item > p {
    color: var(--primary-color);
    font-weight: bold;
    font-size: large;
    text-transform: capitalize;
}

.task-tags {
    grid-row: 2;
    grid-column: 2;
}

.utility-buttons {
    grid-row: span 2;
    align-self: center;
    justify-self: center;
}